@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4A1D3F;
  --primary-dark: #3A1732;
}

body {
  @apply antialiased;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4A1D3F;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3A1732;
}